@import views.data.MenuDto
@(selectedTabItem: String = null, submenu: List[MenuDto])(tab: Html)

@main("Moje sekce", "profile", submenu) {

    <h1>Dashboard</h1>

    <ul class="nav nav-tabs dashboard-tabs">
        <li role="presentation" @if(selectedTabItem == "activities") { class="active" }><a href="@routes.DashboardController.activities(0)">Přihlášené aktivity</a></li>
        <li role="presentation" @if(selectedTabItem == "projects") { class="active" }><a href="#">Přihlášené projekty</a></li>
        <li role="presentation" @if(selectedTabItem == "rewards") { class="active" }><a href="@routes.DashboardController.rewards(0)">Moje odměny</a></li>
    </ul>

    <div class="tab-content" id="dashboard">
        <div role="tabpanel" class="tab-pane active">
            @tab
        </div>
    </div>
}