@import views.data.MenuDto
@(form: Form[forms.AcademicWorkForm], types: Map[String,String], states: Map[String,String], submenu: List[MenuDto])
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@profile.profile("Akademické práce",submenu){
    @b3.form(action = routes.AcademicWorkController.update()) {
        @b3.text(form("name"), '_label -> "Název", 'required -> true)
        @b3.select(form("typeAcademicWork"), options = types.toSeq, '_label -> "Typ", 'required -> true)
        @b3.text(form("supervisor"), '_label -> "Vedoucí", 'required -> true)
        @b3.select(form("stateAcademicWork"), options = states.toSeq, '_label -> "Stav", 'required -> true)
        @b3.textarea(form("description"), '_label -> "Popis", 'required -> true)
        @b3.hidden(form("academicWorkId").name,form("academicWorkId").value)
        @b3.submit('class -> "btn btn-primary"){ Uložit }
    }
}