@import views.data.MenuDto
@(editForm: Form[views.data.PartnerDto], submenu: List[MenuDto], forceNext: Boolean)
@main("Partneři", "partners", submenu){
<h1>Editovat partnera</h1>
<script src="@routes.Assets.at("javascripts/partners/newPartner.js")" type="text/javascript"></script>
<form class="form-horizontal" action="@routes.PartnerController.updatePartner(forceNext)" method="POST">
	@if(forceNext) {
	<div class="alert alert-danger" role="alert">
  		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  		<p><strong>Pozor:</strong>
  			Tento partner byl již editovaný jiným uživatelem. Chcete i přes to uložit svoje změny?</p>
  			<button type="submit" class="btn btn-danger">Uložit</button>
  			<a href="@routes.PartnerController.showAll(0)" class="btn btn-primary">Zpět na seznam</a>
	</div>
	}
	<div class="form-group">
		<label for="partnerName" class="col-sm-2 control-label">Název</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="partnerName"
				placeholder="Název partnera" name="name" value='@editForm.get().getName()' required>
		</div>
	</div>
	<div class="form-group">
		<label for="partnerIc" class="col-sm-2 control-label">IČO</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="partnerIc"
				placeholder="IČO" name="ic" value="@editForm.get().getIc()">
		</div>
	</div>
	<h2>Adresa</h2>
	<div class="form-group">
		<label for="partnerStreet" class="col-sm-2 control-label">Ulice</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="partnerStreet"
				placeholder="Název projektu" name="street" value="@editForm.get().getStreet()"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="partnerHouseNumber" class="col-sm-2 control-label">Číslo popisné</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="partnerHouseNumber"
				placeholder="Číslo popisné" name="houseNumber" value="@editForm.get().getHouseNumber()"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="partnerCity" class="col-sm-2 control-label">Město</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="partnerCity"
				placeholder="Město" name="city" value="@editForm.get().getCity()"></textarea>
		</div>
	</div>
	<h2>Kontaktní osoby</h2>
	@for(index <- 0 until editForm.get().getContactPersons().size) {
	<div class="contactPersonRow">
	<h3><span class="firstname">@editForm.get().getContactPersons().get(index).getFirstName()</span> <span class="lastname">@editForm.get().getContactPersons().get(index).getLastName()</span></h3>
		<div class="form-group">
			<label class="col-sm-2 control-label">Jméno</label>
			<div class="col-sm-10">
				<input type="text" class="form-control contactPersonName"
					placeholder="Jméno" name="contactPersons[@index].firstName" value="@editForm.get().getContactPersons().get(index).getFirstName()">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Příjmení</label>
			<div class="col-sm-10">
				<input type="text" class="form-control contactPersonSurname"
					placeholder="Příjmení" name="contactPersons[@index].lastName" value="@editForm.get().getContactPersons().get(index).getLastName()">
			</div>
		</div>
			<div class="form-group">
			<label class="col-sm-2 control-label">Telefon</label>
			<div class="col-sm-10">
				<input type="text" class="form-control"
					placeholder="Telefon" name="contactPersons[@index].phoneNumber" value="@editForm.get().getContactPersons().get(index).getPhoneNumber()">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Mail</label>
			<div class="col-sm-10">
				<input type="text" class="form-control"
					placeholder="Mail" name="contactPersons[@index].email" value="@editForm.get().getContactPersons().get(index).getEmail()">
			</div>
		</div>
		<input type="hidden" value="@editForm.get().getContactPersons().get(index).getContactPersonId()" name="contactPersons[@index].contactPersonId">
		<input type="hidden" value="@editForm.get().getContactPersons().get(index).getVersion()" name="contactPersons[@index].version">
	</div>
	}
	<div class="newContactPersonPlace"></div>
	<div id="defaultContactPersonRow" class="hidden">
	<div class="contactPersonRow">
	<h3><span class="firstname">Kontaktní osoba</span> <span class="lastname"></span></h3>
		<div class="form-group">
		<label class="col-sm-2 control-label">Jméno</label>
		<div class="col-sm-10">
			<input type="text" class="form-control contactPersonName"
				placeholder="Jméno" name="generatedAttrfirstName"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Příjmení</label>
		<div class="col-sm-10">
			<input type="text" class="form-control contactPersonSurname"
				placeholder="Příjmení" name="generatedAttrlastName"></textarea>
		</div>
	</div>
		<div class="form-group">
		<label class="col-sm-2 control-label">Telefon</label>
		<div class="col-sm-10">
			<input type="text" class="form-control"
				placeholder="Telefon" name="generatedAttrphoneNumber"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Mail</label>
		<div class="col-sm-10">
			<input type="text" class="form-control"
				placeholder="Mail" name="generatedAttremail"></textarea>
		</div>
	</div>
	</div>
	<div class="newContactPersonPlace"></div>
	</div>
	<div class="form-group">
		<input type="hidden" name="version" value="@editForm.get().getVersion()">
		<input type="hidden" name="partnerId" value="@editForm.get().getPartnerId()">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-success">Uložit</button>
		</div>
	</div>
</form>
}
