@import views.data.MenuDto
@(createProjectForm: Form[views.data.PartnerDto], submenu: List[MenuDto])
@main("Partneři", "partners", submenu){
<script src="@routes.Assets.at("javascripts/partners/newPartner.js")" type="text/javascript"></script>
<h1>Vytvořit partnera</h1>
<form class="form-horizontal" action="@routes.PartnerController.saveNewPartner()" method="POST">
	<div class="form-group">
		<label for="partnerName" class="col-sm-2 control-label">Název</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="partnerName"
				placeholder="Název partnera" name="name" required>
		</div>
	</div>
	<div class="form-group">
		<label for="partnerIc" class="col-sm-2 control-label">IČO</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="partnerIc"
				placeholder="IČO" name="ic">
		</div>
	</div>
	<h2>Adresa</h2>
	<div class="form-group">
		<label for="partnerStreet" class="col-sm-2 control-label">Ulice</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="partnerStreet"
				placeholder="Ulice" name="street"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="partnerHouseNumber" class="col-sm-2 control-label">Číslo popisné</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="partnerHouseNumber"
				placeholder="Číslo popisné" name="houseNumber"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="partnerCity" class="col-sm-2 control-label">Město</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="partnerCity"
				placeholder="Město" name="city"></textarea>
		</div>
	</div>
	<h2>Kontaktní osoby</h2>
	
	<div class="contactPersonRow">
	<h3><span class="firstname">Kontaktní osoba</span> <span class="lastname"></span></h3>
		<div class="form-group">
			<label class="col-sm-2 control-label">Jméno</label>
			<div class="col-sm-10">
				<input type="text" class="form-control contactPersonName"
					placeholder="Jméno" name="contactPersons[0].firstName"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Příjmení</label>
			<div class="col-sm-10">
				<input type="text" class="form-control contactPersonSurname"
					placeholder="Příjmení" name="contactPersons[0].lastName"></textarea>
			</div>
		</div>
			<div class="form-group">
			<label class="col-sm-2 control-label">Telefon</label>
			<div class="col-sm-10">
				<input type="text" class="form-control"
					placeholder="Telefon" name="contactPersons[0].phoneNumber"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Mail</label>
			<div class="col-sm-10">
				<input type="text" class="form-control"
					placeholder="Mail" name="contactPersons[0].email"></textarea>
			</div>
		</div>
	</div>
	<div class="newContactPersonPlace"></div>
	<div id="defaultContactPersonRow" class="hidden">
	<div class="contactPersonRow">
	<h3><span class="firstname">Kontaktní osoba</span> <span class="lastname"></span></h3>
		<div class="form-group">
		<label class="col-sm-2 control-label">Jméno</label>
		<div class="col-sm-10">
			<input type="text" class="form-control contactPersonName"
				placeholder="Jméno" name="generatedAttrfirstName"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Příjmení</label>
		<div class="col-sm-10">
			<input type="text" class="form-control contactPersonSurname"
				placeholder="Příjmení" name="generatedAttrlastName"></textarea>
		</div>
	</div>
		<div class="form-group">
		<label class="col-sm-2 control-label">Telefon</label>
		<div class="col-sm-10">
			<input type="text" class="form-control"
				placeholder="Telefon" name="generatedAttrphoneNumber"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Mail</label>
		<div class="col-sm-10">
			<input type="text" class="form-control"
				placeholder="Mail" name="generatedAttremail"></textarea>
		</div>
	</div>
	</div>
	<div class="newContactPersonPlace"></div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div id="projectPartnersIds" class="hidden"></div>
			<button type="submit" class="btn btn-success">Přidat</button>
		</div>
	</div>
</form>
}
