@import views.data.MenuDto
@import views.data.PartnerDto
@import service.SecurityService
@import service.ActionsEnum
@(partner: PartnerDto, submenu: List[MenuDto])
@user = @{SecurityService.fetchUser(session.get("authid"))}
@main("Partneři", "partners", submenu){
	<h1>Detail partnera</h1>
	<table class="table table-striped table-hover">
		<tr>
			<td>@Html(partner.getName())</td>
			<td class="text-right">
			@if(SecurityService.hasAccess(user, ActionsEnum.PARTNER_EDIT)) {
			<a href="@routes.PartnerController.edit(partner.getPartnerId())" class="btn btn-link btn-xs">
  				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 
			</a>
			}
			@if(SecurityService.hasAccess(user, ActionsEnum.PARTNER_DELETE)) {
			<button data-partnerName="@Html(partner.getName())" data-partnerId="@partner.getPartnerId()" data-partnerDeleteUrl="@routes.PartnerController.delete(partner.getPartnerId())" class="btn btn-link btn-xs deleteButton">
  				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
			</button>
			}
			</td>
		</tr>
	</table>
	<div class="row">
		<div class="col-sm-12">
			<ul class="list-unstyled partner-detail">
				<li>
					<strong>Název:</strong>
					@partner.getName()
				</li>
				<li>
					<strong>IČO:</strong>
					@partner.getIc()
				</li>
				<li>
					<strong>Adresa:</strong>
					@partner.getStreet() @partner.getHouseNumber(), @partner.getCity()
				</li>
			</ul>
		</div>
	</div>
	@if(partner.getContactPersons() != null && partner.getContactPersons().size() > 0) {
		@if(partner.getContactPersons().size() == 1) {
			<h3>Kontaktní osoba</h3>
		} else {
			<h3>Kontaktní osoby</h3>
		}
		@for(person <- partner.getContactPersons()) {
		<div class="row">
			<div class="col-sm-6 col-md-offset-3">
				<table class="table table-striped">
					<tr>
						<td>Jméno:</td>
						<td>@person.getFirstName() @person.getLastName()</td>
					</tr>
					<tr>
						<td>Telefon:</td>
						<td>@person.getPhoneNumber()</td>
					</tr>
					<tr>
						<td>Mail:</td>
						<td><a href="mailto:@person.getEmail()">@person.getEmail()</a></td>
					</tr>
				</table>
			</div>
		</div>
		}
	}
}