@import service.SecurityService
@import views.data.MenuDto
@import service.ActionsEnum

@(submenu: List[MenuDto])
@user = @{SecurityService.fetchUser(session.get("authid"))}

@admin("enumerations",submenu){
    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <td>
                    @if(SecurityService.hasAccess(user, ActionsEnum.ENUMERATION_EDIT)) {
                        <a href="@routes.AdminController.editKnowledgeTypes()" class="btn btn-link btn-xs">
                            Typ znalostí
                        </a>
                    }else {
                        Typ znalostí
                    }
                </td>
                <td class="text-right">
                    @if(SecurityService.hasAccess(user, ActionsEnum.ENUMERATION_EDIT)) {
                        <a href="@routes.AdminController.editKnowledgeTypes()" class="btn btn-link btn-xs">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true" title="Upravit"></span>
                        </a>
                    }
                </td>
            </tr>
        </tbody>
    </table>
}