@import views.data.MenuDto
@(knowledgeLevels: List[LevelOfKnowledge], submenu: List[MenuDto])
@implicitFieldConstructor = @{
    b3.horizontal.fieldConstructor("col-md-2", "col-md-10")
}

@admin("enumerations", submenu) {
    <a href="@routes.AdminController.enumerations()" class="btn btn-default btn-sm pull-left" style="margin-right: 20px">Zpět</a>
    <h3>Úrovně znalostí</h3>
    @b3.form(action = routes.AdminController.updateKnowledgeLevels()) {
        <div class="enumeration-items">
        @for((knowledgeLevel,i) <- knowledgeLevels.view.zipWithIndex) {
            @enumerationItem(
                knowledgeLevel.getLevelOfKnowledgeId().toString(),
                knowledgeLevel.getValue(),
                "knowledgeLevels",
                i
            )
        }
        </div>

    }

    <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
            <button class="btn btn-primary btn-sm add-button" type="button">Přidat</button>
        </div>
    </div>

    <div class="enumeration-item-prototype" style="display : none">
    @enumerationItem(
        "__i__",
        "",
        "knowledgeLevels",
        null
    )
    </div>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/enumerations.js")"></script>
}