.bold{
    font-weight: bold;
}

.marginRow {
	margin: 10px 0 !important;
}

#main-content{
    min-height: 400px;
    border-left: 2px solid #eee;
    text-align: left;
}

#sidebar-nav li{
    text-align: center;
}

.sqaicon{
    padding-left: 0px;
}

.twitter-typeahead {
	width: 100%;
}

.mandatoryAttr:before {
	content: " *";
	color: red;
	font-weight: bold;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}
#sidebar-nav li{
    text-align: center;
}

.sqaicon{
    padding-left: 0px;
}

.menuItem {
	width: 100%;
	margin: 5px auto;
	text-align: left !important;
}

.menuItem span {
	float: right;
	font-size: 20px;
}

ul.activity-detail, ul.partner-detail, ul.project-detail {
    line-height: 175%;
}

span.user-logged-on-activity:after {
    content: ",";
}

span.user-logged-on-activity:last-of-type:after {
    content: "";
}

div#dashboard {
    margin-top: 20px;
}

img.logo {
    max-width: 100%;
    max-height: 46px;
}

nav.navbar.main-navbar {
    background: #ffffff;
}

nav.navbar.main-navbar .navbar-brand {
    padding-top: 2px;
    padding-bottom: 2px;
}

div.logged-user-informations {
    display: none;
}

nav.navbar.main-navbar ul.navbar-nav li.divider {
    border-top: 1px solid rgba(0,0,0,0.15);
    margin: 5px 0 15px 0;
}

nav.navbar.main-navbar ul.navbar-nav li.logged-as {
    color: rgba(0, 0, 0, 0.75);
    font-size: 80%;
    text-align: center;
    font-weight: bold;
}

@media (min-width: 768px) {
    nav.navbar.main-navbar {
        height: 100px;
    }

    nav.navbar.main-navbar .navbar-brand {
        padding-top: 17px;
        padding-bottom: 17px;
        max-width: 330px;
    }

    img.logo {
        max-height: 96px;
    }

    nav.navbar.main-navbar .navbar-collapse {
        padding-top: 5px;
    }

    nav.navbar.main-navbar ul.navbar-nav {
        clear: both;
        margin-top: -10px;
        border: 1px solid rgba(0,0,0,0.15);
    }

    nav.navbar.main-navbar ul.navbar-nav li a{
        padding-top: 10px;
        padding-bottom: 10px;
        border: 0;
        border-radius: 0;
    }

    div.logged-user-informations {
        display: block;
        float: right;
        margin-right: -15px;
    }

    nav.navbar.main-navbar ul.navbar-nav li.xs-only {
        display: none;
    }

    .border-down{
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-left: 30px;
    }

    #memberDetail p, #memberDetail table, #memberDetail ul{
        margin-left: 30px;
    }
}

@media (max-width: 450px) {
    ul.dashboard-tabs li a {
        padding: 10px 6px;
    }
}