@(form: Form[forms.ActivityForm], activityTypes: Map[String,String])
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }
@main("Aktivita"){
    <h1>Nová aktivita</h1>

    @b3.form(action = routes.ActivityController.create()){
        @b3.text(form("name"), '_label -> "Název")
        @b3.select(form("typeActivity"), options = activityTypes.toSeq, '_label -> "Typ Aktivity")
        @b3.textarea(form("description"), '_label -> "Popis")

        <div class="form-group" id="time_field">
            <label class="control-label col-md-3 " for="timeFrom">Datum, čas Od</label>
            <div class="col-md-4">
                <input type="text" class="form-control datetimepicker" id="timeFrom" name="@form("timeFrom").name" value="@form("timeFrom").value"/>
            </div>
            <label class="control-label col-md-1" style="text-align: center" for="timeTo">Do</label>
            <div class="col-md-4">
                <input type="text" class="form-control datetimepicker" id="timeTo" name="@form("timeTo").name" value="@form("timeTo").value" data-minDate="#timeFrom"/>
            </div>
            <script type="text/javascript">
            $(document).ready(function(){
                $("#timeFrom").on("dp.change", function (e) {
                    $("#timeTo").data("DateTimePicker").minDate(e.date);
                });
                $("#timeTo").on("dp.change", function (e) {
                    $('#timeFrom').data("DateTimePicker").maxDate(e.date);
                });

                $("#timeTo").on("dp.show", function (e) {
                    $('#timeTo').data("DateTimePicker").minDate($("#timeFrom").data("DateTimePicker").date());
                });
            });
        </script>
        </div>

        @b3.text(form("place"), '_label -> "Místo konání")
        @b3.number(form("capacityMax"), '_label -> "Kapacita")
        @b3.hidden(form("activityId").name, form("activityId").value)
        @b3.submit('class -> "btn btn-primary"){ Uložit }
    }
}