@import views.data.MenuDto
@(activity: Activity, menu: List[MenuDto])
@main("Aktivita", "activities", menu){
    <h1>Aktivita</h1>

    <table class="table table-hover table-striped">
        <tr>
            <th>Id</th>
            <td>@activity.getActivityId()</td>
        </tr>
        <tr>
            <th>Název</th>
            <td>@activity.getName()</td>
        </tr>
        <tr>
            <th>Od</th>
            <td>@activity.getTimeFrom()</td>
        </tr>
        <tr>
            <th>Do</th>
            <td>@activity.getTimeTo()</td>
        </tr>
        <tr>
            <th>Místo</th>
            <td>@activity.getPlace()</td>
        </tr>
        <tr>
            <th>Popis</th>
            <td>@activity.getDescription()</td>
        </tr>
    </table>
}