@(activities: List[Activity], numberOfPages: Integer, activePage: Integer)
@main("Aktivity"){
    <h1>Aktivity</h1>

    <table class="table table-hover table-striped">
        <thead>
            <th>Id</th>
            <th>Název</th>
            <th>Od</th>
            <th>Do</th>
            <th>Místo</th>
            <th>Akce</th>
        </thead>
        <tbody>
        @for(activity <- activities) {
            <tr>
                <td>
                    <a href="@routes.ActivityController.show(activity.getActivityId())">@activity.getActivityId()</a>
                </td>
                <td>@activity.getName()</td>
                <td>@if(activity.getTimeFrom() != null){ @activity.getTimeFrom().format("dd.MM.yyyy HH:mm") }</td>
                <td>@if(activity.getTimeTo() != null){ @activity.getTimeTo().format("dd.MM.yyyy HH:mm") } </td>
                <td>@activity.getPlace()</td>
                <td>
                    <a href="@routes.ActivityController.edit(activity.getActivityId())" class="btn btn-xs btn-warning">Upravit</a>
                    <a href="@routes.ActivityController.delete(activity.getActivityId())" class="btn btn-xs btn-danger" onclick="return confirm('Opravdu chcete smazat odměnu @activity.getActivityId()?');">Smazat</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

}