@import service.SecurityService
@import service.ActionsEnum
@import views.data.MenuDto
@(activity: Activity, menu: List[MenuDto], organizer: User, loggedUsers: List[User], logged: Boolean)
@user = @{SecurityService.fetchUser(session.get("authid"))}
@main("Aktivita", "activities", menu){
    <h1>Detail aktivity</h1>

    <table class="table table-hover table-striped">
        <tr>
            <td>
                <strong>@if(activity.getTimeFrom() != null){@activity.getTimeFrom().format("dd.MM.yyyy HH:mm")}:</strong> @activity.getName()
            </td>
            <td class="text-right">
                @if(SecurityService.hasAccess(user, ActionsEnum.ACTIVITY_EDIT)) {
                    <a href="@routes.ActivityController.edit(activity.getActivityId())" class="btn btn-link btn-xs">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true" title="Upravit"></span>
                    </a>
                }
                @if(SecurityService.hasAccess(user, ActionsEnum.ACTIVITY_DELETE)) {
                    <a data-href="@routes.ActivityController.delete(activity.getActivityId())" class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirm-dialog" data-name="@activity.getName()">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Smazat"></span>
                    </a>
                }
                @if(logged){
                    <a href="@routes.ActivityController.logOut(activity.getActivityId())" class="btn btn-xs btn-danger">
                        Odhlásit
                    </a>
                } else {
                    @if(activity.getCapacityMax() == null || activity.getCapacity() < activity.getCapacityMax()) {
                        <a href="@routes.ActivityController.logIn(activity.getActivityId())" class="btn btn-xs btn-success">
                            Přihlásit
                        </a>
                    }
                }
            </td>
        </tr>
    </table>

    <hr>

    <p>
        @activity.getDescription()
    </p>

    <ul class="list-unstyled activity-detail">
        <li><strong>Typ:</strong> @activity.getTypeActivity().getValue()</li>
        <li>
            @if(activity.getTimeFrom() != null){<strong>Od:</strong> @activity.getTimeFrom().format("dd.MM.yyyy HH:mm")}
            @if(activity.getTimeTo() != null){<strong>Do:</strong> @activity.getTimeTo().format("dd.MM.yyyy HH:mm")}
        </li>
        <li><strong>Místo konání:</strong> @activity.getPlace()</li>
        <li><strong>Kapacita:</strong> @if(activity.getCapacityMax() != null){@activity.getCapacity()/@activity.getCapacityMax()}else{Neomezená}</li>
        <li><strong>Odpovědná osoba:</strong> <a href="@routes.UserController.show(user.getId())">@organizer.getFirstName() @organizer.getLastName()</a></li>
        <li>
            <strong>Přihlášení účastníci: </strong>
            @for(user <- loggedUsers) {
                <span class="user-logged-on-activity"><a href="@routes.UserController.show(user.getId())">@user.getFirstName() @user.getLastName()</a></span>
            }
        </li>
    </ul>

    <div id="confirm-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Jste si jistý?</h3>
                </div>
                <div class="modal-body">
                    Opravdu chcete smazat aktivitu <strong><span class="name"></span></strong>?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success dismiss" data-dismiss="modal">Ne</button>
                    <a href="#" class="btn btn-danger confirm">Ano</a>
                </div>
            </div>
        </div>
    </div>
}