@import views.data.MenuDto
@(editForm: Form[views.data.ProjectDto], submenu: List[MenuDto], title: String, action: String, forceNext: Boolean)
@main("Projekty", "projects", submenu){
<script src="@routes.Assets.at("javascripts/projects/newProject.js")" type="text/javascript"></script>
<h1>@Html(title)</h1>
<form class="form-horizontal" action="@action" method="POST">
	@if(forceNext) {
	<div class="alert alert-danger" role="alert">
  		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  		<p><strong>Pozor:</strong>
  			Tento projekt byl již editovaný jiným uživatelem. Chcete i přes to uložit svoje změny?</p>
  			<button type="submit" class="btn btn-danger">Uložit</button>
  			<a href="@routes.ProjectController.showAll(0)" class="btn btn-primary">Zpět na seznam</a>
	</div>
	}
	<div class="form-group">
		<label for="projectShortcut" class="col-sm-2 control-label">Označení<span class="mandatoryAttr"></span></label>
		<div class="col-sm-10 has-feedback shortcutInput">
			<input type="text" class="form-control" id="projectShortcut"
				placeholder="Označení projektu" name="shortcut" value="@editForm.get().getShortcut()" required>
			<span class="glyphicon form-control-feedback" id="projectShortcutValidationGlyphicon"></span>
		<div id="projectShortcutValidationMessage" class="hidden help-block">Toto označení má již jiný projekt.</div>
		</div>
	</div>
	<div class="form-group">
		<label for="projectName" class="col-sm-2 control-label">Název<span class="mandatoryAttr"></span></label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="projectName"
				placeholder="Název projektu" name="name" value="@editForm.get().getName()" required>
		</div>
	</div>
	<div class="form-group">
		<label for="projectDescription" class="col-sm-2 control-label">Popis<span class="mandatoryAttr"></span></label>
		<div class="col-sm-10">
			<textarea class="form-control" id="projectDescription"
				placeholder="Popis projektu" name="description" required>@editForm.get().getDescription()</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="projectName" class="col-sm-2 control-label">Pracnost<span class="mandatoryAttr"></span></label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="projectWork"
				placeholder="Odhadovaná pracnost projektu" name="laboriousnessGues" value="@editForm.get().getLaboriousnessGues()" required>
		</div>
	</div>
	<div class="form-group">
		<label for="projectStartDate" class="col-sm-2 control-label">Datum
			zahájení<span class="mandatoryAttr"></span></label>
		<div class="col-sm-10">
			<input type="text" class="form-control datepicker"
				id="projectStartDate" placeholder="Začátek projektu"
				name="dateStart" value="@if(editForm.get().getDateStart() != null) {@editForm.get().getDateStart().format("dd.MM.yyyy")}" required>
		</div>
	</div>
	<div class="form-group">
		<label for="projectEndDate" class="col-sm-2 control-label">Datum
			ukončení<span class="mandatoryAttr"></span></label>
		<div class="col-sm-10">
			<input type="text" class="form-control datepicker"
				id="projectEndDate" placeholder="Konec projektu" name="dateEnd" value="@if(editForm.get().getDateEnd() != null) {@editForm.get().getDateEnd().format("dd.MM.yyyy")}" required>
		</div>
	</div>
	<div class="form-group">
		<label for="projectManager" class="col-sm-2 control-label">Vedoucí<span class="mandatoryAttr"></span></label>
		<div class="col-sm-10">
			<input type="text" class="form-control"
				id="projectManager" placeholder="Vedoucí projektu" name="managerName" value="@editForm.get().getManagerName()" required>
		</div>
	</div>
	@for(index <- 0 until editForm.get().getMemberNames().size()) {
	<div class="form-group memberRow">
		<label class="col-sm-2 control-label">Člen</label>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-10">
					<input type="text" class="form-control memberElem"
						placeholder="Člen projektu" name="memberNames[@index]" value="@editForm.get().getMemberNames()(index)">
				</div><div class="col-sm-2 text-right">
				<div class="btn btn-default deleteMember">
					<span class="glyphicon glyphicon-trash"></span>
				</div></div>
			</div>
		</div>
	</div>
	}
	<div class="form-group memberRow">
		<label class="col-sm-2 control-label">Člen</label>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-10">
					<input type="text" class="form-control memberElem"
				placeholder="Člen projektu" name="memberNames[@editForm.get().getMemberNames().size()]">
				</div><div class="col-sm-2 text-right">
				<div class="btn btn-default deleteMember">
					<span class="glyphicon glyphicon-trash"></span>
				</div></div>
			</div>
		</div>
	</div>
	<div class="newMemberPlace hidden"></div>
	<div class="defaultMemberRowWrap hidden">
		<div class="form-group defaultMemberRow">
			<label for="projectMember" class="col-sm-2 control-label">Člen</label>
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-10">
						<input type="text" class="form-control memberElem"
							placeholder="Člen projektu" name="memberNames[]">
					</div><div class="col-sm-2 text-right">
					<div class="btn btn-default deleteMember">
						<span class="glyphicon glyphicon-trash"></span>
					</div></div>
				</div>
			
				
			</div>
		</div>

		<div class="newMemberPlace hidden"></div>
	</div>
	@for(index <- 0 until editForm.get().getPartnerNames().size()) {
	<div class="form-group partnerRow">
		<label for="projectPartner" class="col-sm-2 control-label">Partner</label>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-10">
				<input type="text" class="form-control partnerElem"
					placeholder="Partner projektu" name="partnerNames[@index]" value="@editForm.get().getPartnerNames()(index)">
				</div><div class="col-sm-2 text-right">
				<div class="btn btn-default deletePartner">
					<span class="glyphicon glyphicon-trash"></span>
				</div></div>
			</div>
		</div>
	</div>
	}
	<div class="form-group partnerRow">
		<label for="projectPartner" class="col-sm-2 control-label">Partner</label>
		<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-10">
				<input type="text" class="form-control partnerElem"
					placeholder="Partner projektu" name="partnerNames[@editForm.get().getPartnerNames().size()]">
				</div><div class="col-sm-2 text-right">
				<div class="btn btn-default deletePartner">
					<span class="glyphicon glyphicon-trash"></span>
				</div></div>
			</div>
		</div>
	</div>
	<div class="newPartnerPlace hidden"></div>
	<div class="defaultPartnerRowWrap hidden">
		<div class="form-group defaultPartnerRow">
			<label for="projectPartner" class="col-sm-2 control-label">Partner</label>
			<div class="col-sm-10">
			<div class="row">
				<div class="col-sm-10">
				<input type="text" class="form-control partnerElem"
					placeholder="Partner projektu" name="partnerNames[]">
				</div><div class="col-sm-2 text-right">
				<div class="btn btn-default deletePartner">
					<span class="glyphicon glyphicon-trash"></span>
				</div></div>
			</div>	
			</div>
		</div>

		<div class="newPartnerPlace hidden"></div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div id="dbIds" class="hidden">
					<input type='hidden'  name="managerId" id="managerId" value="@editForm.get().getManagerId()">
				@for(index <- 0 until editForm.get().getMemberIds().size) {
					<input type='hidden' name='memberIds[@index]' value="@editForm.get().getMemberIds()(index)">
					
				}
				@for(index <- 0 until editForm.get().getPartnerIds().size) {
					<input type='hidden' name='partnerIds[@index]' value="@editForm.get().getPartnerIds()(index)" class="partnerId">
					
				}
			</div>
			<input type="hidden" name="version" value="@editForm.get().getVersion()">
			<input type="hidden" name="projectId" value="@editForm.get().getProjectId()">
			<button type="submit" class="btn btn-success">Uložit</button>
		</div>
	</div>
</form>

<!-- modals for user warnings -->
<div id="unknowPartnerModal" class="modal fade" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Neznámý partner</h3>
			</div>
			<div class="modal-body">
				<p>
					Tak tohle asi nepůjde. Totohle partnera fakt neznám. Partnera
					nejdříve přidej na <a href="@routes.PartnerController.create()" target="_blank">této
						stránce</a>.
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning" id="unknowPartnerModalCancel">Zrušit</button>
				<a href="@routes.PartnerController.create()" target="_blank" class="btn btn-primary">Přidat
					partnera</a>
			</div>
		</div>
	</div>
</div>
}
