@import views.data.MenuDto
@(project: Project, submenu: List[MenuDto], manager: User, members: List[User])
@main("Projekty", "projects", submenu){
	<h1>Detail projektu</h1>
	<h2><strong>@Html(project.getShortcut()):</strong> @Html(project.getName())</h2>
	<hr class="divider">
	<p>@Html(project.getDescription())</p>
	<div class="row">
		<div class="col-sm-6 col-md-offset-3">
			<table class="table table-striped">
				<tr>
					<td>Termín zahájení:</td>
					<td>@if(project.getDateStart() != null) { @project.getDateStart().format("dd.MM.yyyy") }</td>
				</tr>
				<tr>
					<td>Termín ukončení:</td>
					<td>@if(project.getDateEnd() != null){ @project.getDateEnd().format("dd.MM.yyyy") }</td>
				</tr>
				<tr>
					<td>Vedoucí projektu:</td>
					<td></td>
				</tr>
				<tr>
					<td>Členové projektu:</td>
					<td></td>
				</tr>
				<tr>
					<td>Partner projektu:</td>
					<td>@for(index <- 0 until project.getPartners().size) {
						<a href="@routes.PartnerController.detail(project.getPartners()(index).getPartnerId())">@Html(project.getPartners()(index).getName())</a>@if(index < project.getPartners().size-1) {, } 
					}</td>
				</tr>
				<tr>
					<td>Odhadovaná pracnost:</td>
					<td>@project.getLaboriousnessGues()</td>
				</tr>
				<tr>
					<td>Reálná pracnost:</td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
	<h3>Výkaz práce</h3>
}