@import service.SecurityService
@import service.ActionsEnum
@(user: User, projects: List[Project], form: Form[forms.RewardForm], submenu : List[views.data.MenuDto], canEdit : Boolean, canDelete : Boolean)
@currentUser = @{SecurityService.fetchUser(session.get("authid"))}
@main("Uživatel", "detail", submenu){
   <div id="memberDetail">
       <h1>Detail člena</h1>
       <div class="page-title">
           <div class="col-sm-10"><h3>@user.toString</h3></div>
           <div class="col-sm-2">
               @if(canEdit){
                   <a href="@routes.UserController.showEditForm(user.getId())" class="btn btn-link btn-xs">
                       <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                   </a>
               }
               @if(canDelete){
                   <button data-projectName="@Html(user.toString())" data-projectId="@user.getId()" data-projectDeleteUrl="@routes.UserController.deleteMember(user.getId())" class="btn btn-link btn-xs deleteButton">
                       <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                   </button>
                   }
           </div>
       </div>
       <table>
           <tr>
               <td><strong>Role:</strong></td>
               <td>
               @for(role <- user.getRoleInBusiness()){
                   @role.getTypeRoleInBusiness().getValue
               }
               </td>
           </tr>
           <tr>
               <td><strong>Status:</strong></td>
               <td>@user.getStateUser().getValue</td>
           </tr>
           <tr>
               <td><strong>Email:</strong></td>
               <td>@user.getEmail()</td>
           </tr>
           <tr>
               <td><strong>Telefon:</strong></td>
               <td>@user.getPhoneNumber()</td>
           </tr>
       </table>

       <h3>Znalosti a dovednosti:</h3>

       <p>Some text blablabla, long time ago in a galaxy far far away...</p>
       <ul>
           @for(knowledge <- user.getKnowledges){
               <li>
                   <span class="bold">@knowledge.getTypeKnowledge.getValue()</span>
                   (@knowledge.getLevelOfKnowledge.getValue()
               </li>
           }
       </ul>

       <h3>Akademické práce:</h3>
       @for(academicWork <- user.getAcademicWorks){
            <p>@academicWork.getTypeAcademicWork<a href="">@academicWork.getName</a></p>
            <p>@academicWork.getDescription</p>
            <br>
       }
       <h3>Přiřazené projekty:</h3>
       @for(p <- projects){
           <p class="border-down">
               <a href="@routes.ProjectController.detail(p.getProjectId)">@p.getName</a> / @p.getTotalHoursWorked()h
           </p>
       }

       @if(SecurityService.hasAccess(currentUser, ActionsEnum.REWARD_ADD)){
           <h3>Zadání odměny</h3>
           @reward.addRewardForm(form,user,projects)
       }
   </div>
}