@(user: User, projects: List[Project], form: Form[forms.RewardForm])
@main("Uživatel", "profile"){
    <h1>Osobní profil</h1>

	<p>
		<strong>@user.getDegree(). @user.getFirstName() @user.getLastName()</strong>
	</p>
    <p>
    	<strong>Role: </strong>
    	<span> - </span>
    </p>
    <p>
    	<strong>Email:</strong>
    	<span>@user.getEmail()</span>
    </p>
    <p>
    	<strong>Telefon: </strong>
    	<span>@user.getPhoneNumber</span>
    </p>       
        

	@reward.addRewardForm(form,user,projects)
}