@import service.SecurityService
@import service.ActionsEnum
@(user: User, projects: List[Project], form: Form[forms.RewardForm], submenu : List[views.data.MenuDto])
@currentUser = @{SecurityService.fetchUser(session.get("authid"))}
@main("Uživatel", "detail", submenu){
   <div id="memberDetail">
       <h1>Detail člena</h1>
       <table>
           <tr>
               <td><strong>Role:</strong></td>
               <td>
               @for(role <- user.getRoleInBusiness()){
                   @role.getTypeRoleInBusiness().getValue
               }
               </td>
           </tr>
           <tr>
               <td><strong>Status:</strong></td>
               <td>@user.getStateUser().getValue</td>
           </tr>
           <tr>
               <td><strong>Email:</strong></td>
               <td>@user.getEmail()</td>
           </tr>
           <tr>
               <td><strong>Telefon:</strong></td>
               <td>@user.getPhoneNumber()</td>
           </tr>
       </table>

       <h3>Znalosti a dovednosti:</h3>

       <p>Some text blablabla, long time ago in a galaxy far far away...</p>
       <ul>
           <li>JAVA (pokrocily)</li>
           <li>C++ (zacatecnik)</li>
           <li>CSS (expert)</li>
       </ul>

       <h3>Akademické práce:</h3>

       <p><a href="#">Diplomova prace na tema BlaBlaBla</a></p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus malesuada finibus. Nam leo diam, dictum quis venenatis accumsan, molestie faucibus massa. Suspendisse porttitor, enim at ullamcorper porttitor, lectus arcu viverra odio, eget vulputate mi metus vitae nulla. Vestibulum sit amet rhoncus massa.
       </p>

       <h3>Přiřazené projekty:</h3>
       <p class="border-down">
           <a href="#">Projekt 1</a> / odpracovano 28h
       </p>
       <p class="border-down">
           <a href="#">Projekt 2</a> / odpracovano 30h
       </p>

       @if(SecurityService.hasAccess(currentUser, ActionsEnum.REWARD_ADD)){
           <h3>Zadání odměny</h3>
           @reward.addRewardForm(form,user,projects)
       }
   </div>
}