@(user : User, submenu: List[views.data.MenuDto], title: String, userStates : List[models.StateUser], userRoles : List[models.TypeRoleInBusiness])
@main(title,"edit", submenu){
    <h1>Upravit uživatele</h1>
    <form class="form-horizontal" action="@routes.UserController.edit(user.getId)" method="POST">
        <div class="form-group">
            <label for="partnerName" class="col-sm-2 control-label">Jméno</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstname"
                placeholder="Jméno" name="firstname" required value="@user.getFirstName">
            </div>
        </div>

        <div class="form-group">
            <label for="partnerIc" class="col-sm-2 control-label">Příjmení</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastname"
                placeholder="Příjmení" name="lastname" value="@user.getLastName">
            </div>
        </div>

        <div class="form-group">
            <label for="xname" class="col-sm-2 control-label">Xname</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="xname"
                placeholder="Xname" name="xname" value="@user.xname">
            </div>
        </div>

        <div class="form-group">
            <label for="degree" class="col-sm-2 control-label">Titul</label>
            <div class="col-sm-10">
                <select class="form-control" id="degree" name="degree">
                    <option value="Bc.">Bc.</option>
                    <option value="Ing.">Ing.</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="col-sm-2 control-label">Role</label>
            <div class="col-sm-10">
                <select class="form-control" id="role" name="role">
                @for(userRole <- userRoles){
                    <option value="@userRole.getId()">@userRole.getValue()</option>
                }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="col-sm-2 control-label">Status</label>
            <div class="col-sm-10">
                <select class="form-control" id="status" name="status">
                @for(userState <- userStates){
                    <option value="@userState.getKey()">@userState.getValue()</option>
                }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="partnerHouseNumber" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email"
                placeholder="Email" name="email" value="@user.getEmail">
            </div>
        </div>

        <div class="form-group">
            <label for="partnerCity" class="col-sm-2 control-label">Tel. číslo</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phonenumber"
                placeholder="Telefonní číslo" name="phonenumber" value="@user.getPhoneNumber">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div id="p" class="hidden"></div>
                <input type="hidden" id="userId" name="userId" value="@user.getId()" />
                <button type="submit" class="btn btn-success">Uložit</button>
            </div>
        </div>
    </form>

}