@(knowledgeList: List[UsersKnowledge], user: User)
@main("Znalosti"){
    <h1>Znalosti</h1>
    
    <table>
    <tr>
    	<td>Popis:</td>
    	<td>
 			<textarea>@user.getBio()</textarea>
 		</td>
    
    @for((knowledge) <- knowledgeList){
    	<tr>
    		<td>
    			<select>
    				<option name="@knowledge.getKnowledge().getTypeKnowledgeId()">@knowledge.getKnowledge().getValue()</option>
    			<select>
    			<select>
    				<option name="@knowledge.getLevel().getTypeLevelKnowledgeId()">@knowledge.getLevel().getValue()</option>
    			</select>
    		</td>
    	</tr>
    }    
    </table>
}