@(knowledgeList: List[UsersKnowledge], otherKnowledgeList: List[TypeKnowledge], levels: List[LevelOfKnowledge], user: User)
@main("Znalosti"){
    <h1>Znalosti</h1>
    
    <table>
    <tr>
    	<td>Popis:</td>
    	<td>
 			<textarea>@user.getBio()</textarea>
 		</td>
    
    @for((knowledge) <- knowledgeList){
    	<tr>
    		<td>
    			@knowledge.getKnowledge().getValue()
    		</td>
    		<td>
    			<select>
    				<option name="@knowledge.getLevel().getTypeLevelKnowledgeId()">@knowledge.getLevel().getValue()</option>
    			</select>
    		</td>
    	</tr>
    }
    @for((knowledge) <- otherKnowledgeList){
    	<tr>
    		<td>
    			@knowledge.getValue()
    		</td>
    		<td>
    			<select>
    				@for((level) <- levels){
    					<option name="@knowledge.getTypeKnowledgeId()" value="@level.getTypeLevelKnowledgeId()">@level.getValue()</option>
    				}
    			</select>
    		</td>
    	</tr>
    			
    } 
    </table>
}