@import views.data.MenuDto
@(form: Form[forms.RewardForm], users: Map[String,String], menu: List[MenuDto])
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }
@main("Odměna", "rewards", menu){
    <h1>Nová odměna</h1>

    @b3.form(action = routes.RewardController.create()){
        @b3.select(form("userId"), options = users.toSeq, '_label -> "Uživatel", '_default -> "--- Vyberte uživatele ---")
        @b3.inputWrapped( "text", form("amount"), '_label -> "Výše odměny") { input =>
            <div class="input-group">
                @input
                <span class="input-group-addon">Kč</span>
            </div>
        }
        @b3.textarea(form("description"), '_label -> "Popis")
        @b3.submit('class -> "btn btn-primary"){ Uložit }
    }
}
