@import views.data.MenuDto
@import service.SecurityService
@import service.ActionsEnum
@(rewards: List[Reward], numberOfPages: Integer, activePage: Integer, menu: List[MenuDto])
@user = @{SecurityService.fetchUser(session.get("authid"))}
@main("Odměny", "rewards", menu){
    <h1>Odměny</h1>

    <table class="table table-hover table-striped">
        <thead>
            <th>Id</th>
            <th>Komu</th>
            <th>Kolik</th>
            <th>Popis</th>
            <th>Akce</th>
        </thead>
        <tbody>
        @for(reward <- rewards) {
            <tr>
                <td>
                    <a href="@routes.RewardController.show(reward.getRewardId())">@reward.getRewardId()</a></td>
                <td>@reward.getUser().getLastName() @reward.getUser().getFirstName()</td>
                <td>@reward.getAmount() Kč</td>
                <td>@reward.getDescription()</td>
                <td>
                    @if(SecurityService.hasAccess(user, ActionsEnum.REWARD_EDIT)) {
                        <a href="@routes.RewardController.edit(reward.getRewardId())" class="btn btn-xs btn-warning">Upravit</a>
                    }
                    @if(SecurityService.hasAccess(user, ActionsEnum.REWARD_DELETE)) {
                        <a href="@routes.RewardController.delete(reward.getRewardId())" class="btn btn-xs btn-danger" onclick="return confirm('Opravdu chcete smazat odměnu @reward.getRewardId()?');">Smazat</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>

}