@import views.data.MenuDto
@(reward: Reward, menu: List[MenuDto])
@main("Odměna", "rewards", menu){
    <h1>Odměna</h1>

    <table class="table table-hover table-striped">
        <tr>
            <th>Id</th>
            <td>@reward.getRewardId()</td>
        </tr>
        <tr>
            <th>Komu</th>
            <td>@reward.getUser().getLastName() @reward.getUser().getFirstName()</td>
        </tr>
        <tr>
            <th>Kolik</th>
            <td>@reward.getAmount()</td>
        </tr>
        <tr>
            <th>Popis</th>
            <td>@reward.getDescription()</td>
        </tr>
    </table>
}