@main("Login page"){

    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center">Please login</h1>
            <div>
                <form>
                    <input type="text" class="form-control" placeholder="Username">
                    <input type="password" class="form-control" placeholder="Password">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    <a href="#" class="pull-right need-help">Forgot password? </a><span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>

}
