@import views.data.MenuDto
@(works: Set[AcademicWork], submenu: List[MenuDto])
@profile("Akademické práce",submenu){
    <div class="academic-works">
        <div class="row">
            <div class="col-md-1 col-md-offset-11">
                <a href="@routes.AcademicWorkController.add()" class="btn btn-link pull-right">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Přidat"></span>
                </a>
            </div>
        </div>
    @for(work <- works) {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <strong>Název:</strong>
                    </div>
                    <div class="col-md-8">
                        @work.getName()
                    </div>
                    <div class="col-md-1">
                        <a href="@routes.AcademicWorkController.edit(work.getAcademicWorkId())" class="btn btn-link pull-right">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true" title="Upravit"></span>
                        </a>
                    </div>
                    <div class="col-md-1">
                        <a data-href="@routes.AcademicWorkController.delete(work.getAcademicWorkId())" class="btn btn-link pull-right" data-toggle="modal" data-target="#confirm-dialog" data-name="@work.getName()">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Smazat"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <strong>Typ:</strong>
                    </div>
                    <div class="col-md-10">
                        @work.getTypeAcademicWork().getValue()
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <strong>Vedoucí:</strong>
                    </div>
                    <div class="col-md-10">
                        @work.getSupervisor()
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <strong>Stav:</strong>
                    </div>
                    <div class="col-md-10">
                        @work.getStateAcademicWork().getValue()
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <strong>Popis:</strong>
                    </div>
                    <div class="col-md-10">
                        @work.getDescription()
                    </div>
                </div>
            </div>
        </div>

        <hr>
    }
    </div>

    <div id="confirm-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Jste si jistý?</h3>
                </div>
                <div class="modal-body">
                    Opravdu chcete smazat akademickou práci <strong><span class="name"></span></strong>?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success dismiss" data-dismiss="modal">Ne</button>
                    <a href="#" class="btn btn-danger confirm">Ano</a>
                </div>
            </div>
        </div>
    </div>
}